.gallery{
  margin: 10px 50px;
}
.gallery img{
  width: 250px;
  height: 250px;
  padding: 6px;
  /*filter: grayscale(100%);*/
  transition: 1s;
}
.gallery img:hover{
  /*filter: grayscale(0);*/
  transform: scale(1.1);
}
