* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

/*MENU HEADER*/


/*GALLERY*/


/*FINAL-PART*/

@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}